/* ==========================================================================
   BASE STYLES
   ========================================================================== */
*,
*:before,
*:after {
    box-sizing: border-box;
    transform-origin: 0 0 0
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    height: 100%;
}

body {
    margin: 0;
}

::-moz-selection {
    background: #F7FFF7;
    text-shadow: none;
}

::selection {
    background: #F7FFF7;
    text-shadow: none;
}

/* ==========================================================================
   CUSTOM STYLES
   ========================================================================== */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.quote-box {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 0 2%;
    margin-bottom: 2%;
}

.quote-group {
    text-align: center;
    min-height: 250px;
}

.quote-group:before, .quote-group:after {
    content: '';
    width: 285px;
    height: 1px;
    background: rgba(255, 255, 255, .3);
    margin: 21px auto;
    display: block;
}

.quote-group__quote {
    opacity: 0;
    font-size: 2.125em;
    min-height: 75px;
    font-family: 'Cardo', serif;
    letter-spacing: .04em;
}

.quote-group__author {
    opacity: 0;
    font-size: 1.525em;
    margin: .4em 0 0;
    display: block;
    text-align: right;
    font-weight: 400;
}

.quote-active {
    opacity: 1;
    transition: .75s;
}

.button-group {
    display: flex;
    justify-content: center;
}

.button-group__twitter {
    margin: 0 1%;
    cursor: pointer;
    height: 41px;
    width: 41px;
}

.button-group__twitter:hover .twitter__bg {
    transition: .45s;
    fill: rgba(255, 255, 255, .3);
}

.button-group__tumblr {
    margin: 0 1%;
    cursor: pointer;
    height: 41px;
    width: 41px;
}

.button-group__tumblr:hover .tumblr__bg {
    transition: .45s;
    fill: rgba(255, 255, 255, .3);
}

.button-group__google {
    margin: 0 1%;
    cursor: pointer;
    height: 41px;
    width: 41px;
}

.button-group__google:hover .google__bg {
    transition: .45s;
    fill: rgba(255, 255, 255, .3);
}

.button-group__new-quote {
    font-size: 1em;
    margin: 0 1%;
    line-height: 38px;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff;
    height: 41px;
    width: 140px;
    transition: .45s;
    outline: none;
}

.button-group__new-quote:hover {
    border-color: rgba(255, 255, 255, .3);
    color: rgba(255, 255, 255, .5);
    font-style: italic;
}

i {
    opacity: .45;
}

/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .button-group, i {
        display: none;
    }
}
