*,
*:before,
*:after {
    box-sizing: border-box;
    transform-origin: 0 0 0
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.99);
    text-shadow: none;
    color: #070708;
}

::selection {
    background: rgba(255, 255, 255, 0.99);
    text-shadow: none;
    color: #070708;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #4E5056;
    transition: border-bottom .15s ease-out;
}

a:hover {
    border-bottom: 3px solid #FF0033;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #fff;
    margin: 0;
    overflow-x: hidden;
}

.page--home body:before, .page--contact body:before, .page--about body:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    min-height: 100%;
    background-color: #070708;
}

.mainheader {
    width: 65%;
    height: 130px;
    padding: 0 2.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.page--case .mainheader, .page--writing .mainheader {
    width: 100%;
}

.mainheader-left {
    display: flex;
    align-items: center;
    margin-right: 2.5%;
}

.mainheader-left__logo {
    margin-right: 7px;
    width: 115px;
}

.mainheader-center {
    margin-left: -104px;
}

.mainheader a, .mainheader h1 {
    font-size: 1.25em;
    margin: 0;
    color: #070708;
    padding: 0;
    letter-spacing: .0275em;
    font-weight: 400;
    border: none;
}

.mainheader p {
    margin: -5px 0 0;
    color: #a4a4aa;
}

.mainheader h1 span {
    font-weight: 700;
}

.mainheader li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    letter-spacing: .35em;
}

.mainheader li:last-child {
    margin: 0;
}

.mainheader-right a {
    font-weight: 600;
}

.mainheader-right a:after, .mainheader-center a:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #070708;
    transform-origin: right center;
    transform: scaleX(0);
    transition: transform 300ms cubic-bezier(.165, .84, .44, 1) 50ms;
}

.mainheader-right a:hover:after, .mainheader-center a:hover:after {
    transform-origin: left center;
    transform: scale(1);
}

.content-container {
    left: 2.5%;
    right: 2.5%;
    top: 130px;
    bottom: 36px;
    background: #151416;
    position: absolute;
    z-index: 10;
}

.content-container:before {
    content: ' ';
    position: absolute;
    top: 13.1%;
    right: 5.8%;
    width: 22%;
    height: 73.34%;
    background-color: #020203;
}

/* ---------------------------------------
   Front Page.
   --------------------------------------- */

.project-container__pagination {
    position: absolute;
    bottom: 6.1%;
    top: 6.1%;
    left: 3%;
}

.progress-container {
    position: absolute;
    top: 35px;
    width: 1px;
    margin-left: 8px;
    height: calc(100% - 70px);
}

#progress-line {
    background: #fff;
    height: 25%;
    transition: all 1.1s cubic-bezier(.79, .1, .2, .8);
}

.project-container__previous, .project-container__next {
    display: block;
    cursor: default;
}

.project-container__next {
    bottom: 0;
    position: absolute;
}

.project-container__controls {
    position: absolute;
    bottom: 6.1%;
    right: 3%;
    z-index: 20;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.project-container__controls a {
    font-size: 1.125em;
    border: none;
    cursor: pointer;
}

.project-container__controls a:last-child {
    margin-left: 20px;
}

.project-container__controls a:hover {
    border: none;
}

.project-container__scroll-indicator {
    position: absolute;
    z-index: 10;
    width: 100px;
    top: 845px;
    right: 0;
    margin: 0 auto;
    left: 0;
    text-align: center;
}

.project-container__scroll-indicator:before {
    content: ' ';
    position: absolute;
    height: 35px;
    width: 1px;
    bottom: -48px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
}

.project {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    opacity: 0;
}

.project--active {
    opacity: 1;
    overflow: hidden;
    z-index: 15;
    top: 0;
    transition: opacity 1.25s cubic-bezier(.68, 0, .25, 1);
}

.project--active .project-title {
    transform: translate(0);
}

.page--home .project-view {
    transform: translateY(100px);
    transition: transform .7s cubic-bezier(.46, .09, .24, .99) 50ms;
}

.project--active .project-view, .mini .project-view {
    transform: translate(0);
}

.project-year {
    transform: translateY(-80px);
    transition: transform .65s cubic-bezier(.84, .24, .24, .9);
}

.project--active .project-year {
    transform: translate(0);
}

.project-info {
    margin-left: 8.5%;
}

.project-title {
    font: 5em 'Abril Fatface', Georgia, serif;
    margin: 0 0 40px;
    transform: translateX(165px);
    transition: transform .65s cubic-bezier(.035, .63, .375, .98) 75ms;
}

.project-view {
    display: inline-block;
    position: relative;
    text-align: center;
    background: transparent;
    height: 66px;
    border: 2px solid #fff;
    width: 240px;
    padding: 0 20px 0 30px;
    font-weight: 700;
    line-height: 62px;
    font-size: 1.063em;
    overflow: hidden;
}

footer .project-view {
    font-size: 1.1em;
}

.project-view:hover, .scroll-button:hover {
    border-bottom: 2px solid #fff;
}

.project-view:after, .scroll-button:after {
    content: '';
    position: absolute;
    border-right: 31px solid transparent;
    border-top: 62px solid #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left center;
    opacity: 0;
    transition: transform 250ms cubic-bezier(.56, .35, .35, .65) 50ms, opacity 250ms cubic-bezier(.4, 0, .2, 1) 50ms;
}

.scroll-button:after {
    border: none;
    background: #fff;
    transform: scaleY(0);
    transform-origin: bottom center;
}

footer .project-view:after {
    border-right: 48px solid transparent;
    border-top: 96px solid #fff;
}

.project-view:hover:after, .project-view:focus:after, .scroll-button:hover:after, .scroll-button:focus:after {
    opacity: 1;
    transition-delay: 0s;
    z-index: -1;
}

.project-view:hover:after, .project-view:focus:after {
    transform: scaleX(1.16);
}

.scroll-button:hover:after, .scroll-button:focus:after {
    transform: scaleY(1);
}

.project-view:hover span, .project-view:focus span, .scroll-button:hover span, .scroll-button:focus span {
    color: #070708;
    transition: color 150ms cubic-bezier(.165, .84, .44, 1) 0ms;
}

.project-view span .arrow {
    float: right;
    position: relative;
    margin-top: 28px;
    margin-right: 9px;
    transition: transform 200ms cubic-bezier(.165, .84, .44, 1) 0ms;
}

.project-view span .arrow svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    fill: #fff;
    transition: fill 150ms cubic-bezier(.165, .84, .44, 1) 130ms;
}

.project-view:hover .arrow svg, .project-view:focus .arrow svg {
    fill: #070708;
    transition-delay: .14s;
}

.project-view:hover .arrow, .project-view:focus .arrow {
    transform: translate(5px);
    transition-delay: 0s;
}

.project-year {
    position: absolute;
    top: 6.1%;
    right: 3%;
    font-size: 1.125em;
}

.project-screenshot {
    margin-right: 12%;
}

.project-screenshot img {
    background-color: #151416;
    max-width: 660px;
    width: 100%;
    height: auto;
}

.screenshot-browser {
    height: 40px;
    display: block;
    width: 100%;
    border-radius: 7px 7px 0 0;
    background-color: #2e3542;
    padding: 15px;
}

.browser__buttons {
    float: left;
    width: 50px;
    height: 10px;
    position: relative;
}

.browser__buttons span {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    top: -2px;
    left: 50%;
    margin-left: -5px;
    border-radius: 50%;
    background-color: #171B1F;
}

.browser__buttons span:after, .browser__buttons span:before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #171B1F;
}

.browser__buttons span:before {
    left: -20px;
}

.browser__buttons span:after {
    right: -20px;
}

.browser__bar {
    position: relative;
    display: block;
    overflow: hidden;
    height: 20px;
    top: -5px;
    margin-left: 70px;
    background-color: #171B1F;
    border-radius: 4px;
}

.browser__bar a {
    color: rgba(255, 255, 255, .4);
    font-size: .875em;
    position: relative;
    top: -3px;
    left: 7px;
    transition: .2s;
    border: none;
}

.browser__bar:hover a {
    color: rgba(255, 255, 255, .65);
}

.screenshot-browser a:hover {
    border: none;
}

/* ---------------------------------------
   About.
   --------------------------------------- */
.page--about .content-container, .page--about .project--active {
    overflow-y: auto;
}

.page--about .content-overview {
    margin: 0;
}

.content-info {
    margin-left: 8.5%;
    width: 650px;
    z-index: 20;
}

.page--about .content-info:before {
    content: 'hello';
    top: 4%;
    left: -75px;
}

.content-info:before {
    font-size: 27em;
    font-weight: 800;
    position: absolute;
    z-index: -1;
    top: 17%;
    left: -27px;
    color: #1a1b1d;
}

.content-title {
    font: 4em 'Abril Fatface', Georgia, serif;
    margin: 0 0 4%;
}

.content-text {
    font-size: 1.063em;
    line-height: 1.5;
    margin-bottom: 4%;
    width: 650px;
}

.about-photo {
    margin: 0 12% 0 2%;
    z-index: 20;
    height: auto;
    max-width: 382px;
    width: 100%;
}

.page--about .content-subtitle {
    margin-bottom: 15px;
}

.content-subtitle {
    padding-left: 93px;
}

.content-subtitle span {
    font-weight: 600;
    display: block;
    margin-bottom: 12px;
}

.content-subtitle:before {
    content: ' ';
    position: absolute;
    height: 1px;
    width: 80px;
    margin-top: 11px;
    margin-left: -93px;
    background-color: #fff;
}

.content-subtitle div {
    display: table-cell;
    min-width: 195px;
    font-weight: 400;
}

.case-analysis .content-subtitle span {
    font-weight: 400;
}

.content-subtitle .about-year {
    min-width: 93px;
}

.content-info br {
    content: ' ';
    display: block;
    margin-bottom: .75em;
}

.social-item__twitter:hover {
    border-bottom: 3px solid #1da1f2;
}

.social-item__github:hover {
    border-bottom: 3px solid #333;
}

.social-item__linkedin:hover {
    border-bottom: 3px solid #0077b5;
}

.social-item__stackoverflow:hover {
    border-bottom: 3px solid #fe7a15;
}

.social-item__behance:hover {
    border-bottom: 3px solid #1769ff;
}

.social-item__email:hover {
    border-bottom: 3px solid #D9FB19;
}

/* ---------------------------------------
   Contact.
   --------------------------------------- */

.page--contact .content-container {
    overflow-y: auto;
}

.contactform {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin-left: 8.5%;
    height: 100%;
}

.contactform:before {
    content: 'dear';
    font-size: 27em;
    font-weight: 800;
    color: #1a1b1d;
    position: absolute;
    left: -22%;
    top: 4%;
    z-index: -1;
}

h4 {
    font: 4em 'Abril Fatface', Georgia, serif;
    margin: 0 0 4%;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    text-align: left
}

#contact-left, #contact-right {
    float: left;
    width: 28%;
    font-size: 1.063em;
}

#contact-right {
    margin-left: 6%;
    width: 63%;
}

label {
    font-weight: 600;
}

textarea {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
    background: linear-gradient(to right, transparent 14px, transparent 14px),
    linear-gradient(to left, transparent 14px, transparent 14px),
    repeating-linear-gradient(transparent, transparent 30px, #ccc 32px, #ccc 32px, transparent 32px) local;
    line-height: 32px;
    min-height: 280px;
    resize: vertical;
}

textarea, input {
    border: none;
    outline: none;
    color: #fcfcfc;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.25em;
    width: 100%;
}

input {
    border-bottom: 2px solid #ccc;
    padding: 14px 0 7px;
    margin-top: 0;
    margin-bottom: 38px;
    background: none;
}

.page--contact .project-view {
    width: 255px;
    outline: none;
    cursor: pointer;
    color: #fff;
}

/* ---------------------------------------
   Case Studies.
   --------------------------------------- */

.port .content-info:before {
    content: '01';
}

.ftb .content-info:before {
    content: '02';
}

.mini .content-info:before {
    content: '03';
}

.dtm .content-info:before {
    content: '04';
}

.tech .content-info:before {
    content: '05';
}

.page--case:before {
    content: ' ';
    background-color: #fff;
    position: absolute;
    left: 0;
    height: 100%;
    min-height: 784px;
    width: 2.5%;
    top: 0;
    z-index: 25;
}

.content-overview, .writing {
    margin: 0 2.5%;
    background: #151416;
    height: 100%;
    overflow-y: hidden;
}

.content-overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page--case .content-overview {
    min-height: 784px;
}

.case-view {
    position: absolute;
    margin-top: -65px;
    margin-left: 275px;
}

.case-analysis {
    background: #151416;
    margin: -25% 2.5% 0;
    padding: 20% 0 50px;
}

.case-logo {
    display: block;
    margin: 30px auto;
    max-width: 100%;
}

.mini .case-logo, .port .case-logo {
    width: auto;
    max-width: 300px;
}

.tech .case-logo {
    background: #4E5056;
    padding: 15px 20px 25px;
}

.case-mockup {
    display: block;
    margin: 0 auto;
    width: 45%;
    min-width: 300px;
}

.case-showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.case-showcase img {
    max-width: 700px;
    width: 100%;
    height: auto;
}

.case-showcase__mobile {
    width: 400px;
}

.case-choice figure {
    display: inline-block;
    margin-left: 4.25%;
}

figcaption {
    text-align: center;
    font-size: .875em;
    opacity: .3;
    font-style: italic;
}

.case-choice p {
    width: 55%;
    margin-bottom: 2%;
}

.case-choice img {
    width: 100%;
    height: auto;
}

.case-analysis section {
    margin: 100px 0 0 8.5%;
}

.case-analysis > div {
    margin: 80px 0;
}

.case-choice__title {
    font: 3.5em 'Abril Fatface', Georgia, serif;
    margin: 0 0 2%;
}

.case-palette {
    padding: 40px 0 0;
    margin: 0;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.case-color:not(:last-child) {
    margin-right: 3%;
}

.case-color__item {
    width: 170px;
    height: 170px;
    background-color: #fff;
    transition: box-shadow .3s;
}

.case-color:hover .case-color__item {
    box-shadow: 0 0 17px 5px rgba(255, 255, 255, .25);
}

.case-color__name {
    text-align: center;
    padding-top: 10px;
    font-size: .875em;
    font-weight: 400;
    opacity: .3;
    transition: opacity .3s;
}

.case-color:hover .case-color__name {
    opacity: 1;
}

.case-color:active {
    user-select: all;
}

.case-analysis .awards {
    margin: 100px auto;
}

.awards .content-title {
    text-align: center;
    margin-bottom: 2%;
    position: relative;
}

.awards h2:before, .awards h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 145px;
    height: 1px;
    content: '\a0';
    background-color: white;
}

.awards h2:before {
    margin-left: -200px;
}

.awards h2:after {
    margin-left: 55px;
}

.awards-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.awards-list__item {
    padding: 2%;
}

.awards-list__item a {
    border: none;
}

.awards-list__logo {
    background-color: #4E5056;
    transition: .2s;
}

.awards-list__logo:hover, .awards-list__logo:focus {
    background-color: #fff;
}

.awards-list__item a:hover, .awards-list__item a:focus {
    border: none;
}

.scroll-button__bg {
    background: #151416;
    position: fixed;
    bottom: 40px;
    right: 4.25%;
    width: 100px;
    height: 50px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
}

.scroll-button__bg--active {
    opacity: .5;
    visibility: visible;
    transition: opacity .3s;
}

.scroll-button {
    width: 90px;
    height: 40px;
    visibility: hidden;
    opacity: 0;
    border: 2px solid #fff;
    text-align: center;
    overflow: hidden;
    font-weight: 600;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: opacity .3s;
    position: fixed;
    bottom: 45px;
    right: 4.5%;
}

.scroll-button:focus, .scroll-button:hover {
    outline: 0;
}

.scroll-button--active {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;
}

/* ---------------------------------------
   writing.
   --------------------------------------- */

/*TODO: Remove .writing*/
.writing {
    height: 1000px;
}

.article__arrow {
    padding-right: 40px;
    fill: #fff;
    transition: fill 250ms cubic-bezier(.4, 0, .2, 1);
}

.articles-container {
    margin-left: 8.5%;
    width: 75%;
}

.writing h2 {
    display: block;
    font: 4em 'Abril Fatface', Georgia, serif;
    border-bottom: 3px solid #fff;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.article {
    width: auto;
    max-width: 1440px;
    display: block;
    border: none;
}

.article:hover {
    border: none;
}

.article-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    width: 70%;
    padding: 30px 0;
    height: 100%;
    z-index: 5;
    transition: width 90ms cubic-bezier(.4, 0, .2, 1) 50ms,  color 200ms cubic-bezier(.4, 0, .2, 1) 50ms;
}

.article:hover .article-wrapper {
    width: 80%;
}

.article-wrapper:after {
    content: ' ';
    z-index: -1;
    position: absolute;
    border-right: 52px solid transparent;
    border-top: 105px solid #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    opacity: 0;
    transform-origin: left center;
    transition: transform 350ms cubic-bezier(.56, .35, .35, .65) 50ms, opacity 125ms cubic-bezier(.4, 0, .2, 1) 50ms;
}

.article:hover .article-wrapper:after {
    transform: scaleX(1.16);
    opacity: 1;
    transition-delay: 0ms;
}

.article:hover, .article:hover .article__arrow {
    fill: #070708;
    color: #070708;
    transition-delay: 250ms;
}

.article__number {
    position: absolute;
    margin-top: 40px;
    left: 8%;
    display: block;
    height: 100%;
    color: #a4a4aa;
}

.article__name {
    font-size: 2em;
    margin: 0 0 2px;
    min-width:35%;
}

.article__date {
    font-family: Inconsolata, "Courier New", monospace;
}

/* ---------------------------------------
   Footer.
   --------------------------------------- */

footer {
    background: #151416;
    margin: 50px 2.5% 0;
    text-align: center;
}

.footer-case__upper {
    padding: 45px 8.5% 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

footer div {
    flex: 1;
}

.footer-contact {
    font: 1.75em 'Abril Fatface', Georgia, serif;
    letter-spacing: .025em;
    line-height: 1.5;
    min-width: 33%;
}

.footer-contact a:hover {
    border-bottom: 3px solid #D9FB19;
}

.footer-social {
    min-width: 33%;
    font-size: 1.25em;
}

.social-buttons {
    margin: 25px 15px 10px 0;
    display: block;
    background: none;
    padding-left: 5px;
    transition: all .4s;
}

.footer-social .social-buttons a {
    display: inline-block;
    margin: 0 5px;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    background: #151416;
    cursor: pointer;
}

.social-buttons a.social-buttons__twitter {
    background: url("../img/share-buttons.svg") no-repeat 7px -25px;
    transition: .25s cubic-bezier(.46, .09, .24, .99);
}

.social-buttons a.social-buttons__twitter:hover {
    background: #fff url("../img/share-buttons.svg") no-repeat 7px 8px;
    transition: .3s cubic-bezier(.46, .09, .24, .99);
}

.social-buttons a.social-buttons__linkedin {
    background: url("../img/share-buttons.svg") no-repeat -34px -26px;
    transition: .25s cubic-bezier(.46, .09, .24, .99);
}

.social-buttons a.social-buttons__linkedin:hover {
    background: #fff url("../img/share-buttons.svg") no-repeat -34px 7px;
    transition: .3s cubic-bezier(.46, .09, .24, .99);
}

.footer-next {
    position: relative;
    z-index: 1;
}

.footer-next .project-view {
    width: 100%;
    min-width: 380px;
    line-height: 100px;
    height: 100px;
}

.footer-next .project-view span .arrow {
    margin: 46px 3.75% 0 0;
}

.footer-case__lower {
    border-top: 2px solid #fff;
    padding: 40px 0 30px;
    font-size: .875em;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    width: 55%;
}

.footer-case__lower span {
    padding: 0 10px;
}

/* ---------------------------------------
   Mobile.
   --------------------------------------- */
@media screen and (max-width: 1600px) {
    .project-title {
        font-size: 4vw;
    }

    .page--case .project-screenshot {
        margin-right: 6%;
    }

}

@media screen and (max-width: 1380px) {
    .about-photo {
        margin-right: 3%;
        width: 25%;
    }

    .page--case .project-screenshot {
        display: none;
    }

}

@media screen and (max-width: 1090px) {
    /*homepage*/
    .project-title {
        font-size: 3.5em;
    }

    .project-screenshot {
        margin-right: 4%;
    }

    .content-container:before {
        display: none;
    }

    /*about*/
    .about-photo {
        display: none;
    }

    /*contact*/
    .contactform {
        width: 85%;
    }

    /*case*/
    .mainheader-center {
        display: none;
    }

    .case-choice p {
        width: 92%;
    }

    .case-palette {
        width: 92%;
        justify-content: center;
    }

    .footer-case__upper {
        flex-direction: column;
    }

    .footer-contact, .footer-social {
        margin-bottom: 35px;
    }

    .footer-next .project-view {
        width: 60%;
    }

}

@media screen and (max-width: 985px) {
    /*contact & about*/
    .contactform:before, .page--about .content-info:before {
        display: none;
    }

    /*case*/
    .case-color__item {
        width: 110px;
        height: 110px;
    }

    .case-color__name {
        font-size: .7em;
    }

    .awards h2:after, .awards h2:before {
        display: none;
    }
}

@media screen and (max-width: 760px) {

    /*homepage*/
    .project {
        flex-direction: column;
        justify-content: center;
        padding: 0 0 calc(4% + 30px);
    }

    .project-info {
        margin: 0 0 20px;
        width: 100%;
    }

    .project--active .project-view {
        margin: 0 auto;
        display: block;
    }

    .project-title {
        text-align: center;
        margin-bottom: 15px;
        font-size: 10vw;
    }

    .project-screenshot {
        margin: 0 auto;
        width: 85%;
    }

    .project-year {
        display: none;
    }

    .project-container__pagination {
        display: none;
    }

    .progress-container {
        display: none;
    }

    .project-container__scroll-indicator {
        display: none;
    }

    .project-container__controls {
        left: 0;
        right: 0;
        bottom: 4%;
        min-width: 200px;
        text-align: center;
    }

    .project-container__controls a {
        font-size: 1.375em;
    }

    .screenshot-browser {
        display: none;
    }

    /*misc*/
    .content-text {
        width: 89%;
    }

    .content-info {
        width: 100%;
    }

    .content-title {
        font-size: 10vw;
    }

    .case-choice__title {
        font-size: calc(5vw + 18px);
    }

    /*contact*/
    .contactform {
        width: 100%;
    }

    #contact-left, #contact-right {
        float: none;
        width: 83%;
        margin: 0;
    }

    .contactform-item {
        display: inline-block;
        width: 45%;
    }

    .contactform-item:first-of-type {
        margin-right: 6%;
    }

    input {
        margin-bottom: 19px;
    }

    #subject, label[for=subject] {
        display: none;
    }

    textarea {
        margin: 10px 0 12px 0;
    }

    /*case*/
    .case-choice .font-infographic {
        display: none;
    }

    /*footer*/
    .footer-case__lower {
        width: 75%;
    }

}

@media screen and (max-width: 595px) {
    .scroll-button__bg, .scroll-button {
        display: none;
    }

    .case-view {
        display: none;
    }

    .content-info:before {
        display: none;
    }
}

@media screen and (max-width: 545px) {

    .page--home body:before, .page--contact body:before, .page--about body:before {
        display: none;
    }

    .mainheader {
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    /*about*/
    .about-social div, .page--case .content-subtitle div {
        min-width: 105px;
    }

    /*contact*/
    textarea, input {
        font-size: 1.063em;
    }

    #message {
        min-height: 175px;
    }

    /*case*/
    .footer-next .project-view {
        min-width: 270px;
        padding: 0 5px;
        font-size: .9em;
    }

    .footer-case__upper {
        padding: 45px 4.5% 55px;
    }

}

@media screen and (max-width: 420px) {
    .about-experiences {
        display: none;
    }

    .about-social {
        padding: 0;
    }

    .about-social span {
        padding-left: 93px;
    }

    .about-social:before {
        margin-left: 0;
    }

    .page--about .content-container {
        bottom: auto;
    }

    .content-overview .content-text {
        font-size: .95em;
    }

    .footer-case__lower span {
        padding: 0 5px;
    }

}

@media screen and (max-width: 335px) {
    .mainheader-left__logo {
        display: none;
    }

    .mainheader-left__info {
        text-align: center;
    }

    #message {
        min-height: 145px;
    }
}