/* ---------------------------------------
   User Custom Styles.

   font-family: 'Open Sans', Arial, sans-serif;
   font-family: 'Abril Fatface', Georgia, serif;


   colors:
   Very Dark Black: #020203
   Dark Black: #070708
   Medium Dark Black: #151416


   --------------------------------------- */
*,
*:before,
*:after {
    box-sizing: border-box;
    transform-origin: 0 0 0
}

.clearfix {
    clear: both;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #fff;
}

body:not(.case):before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    min-height: 100%;
    background-color: #070708;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.mainheader:not(.case .mainheader) {
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    z-index: 10;
}

.case .mainheader {
    width: 100%;
}

.mainheader__left {
    float: left;
    width: 50%;
    height: 50px;
    padding: 36px 3.846153846%; /* 48(padding needed to lineup with project-container) / 1248(width of header) */
}

.mainheader__center {
    float: left;
    height: 50px;
    padding: 36px 0 0;
}

.mainheader {
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    z-index: 10;
}

.mainheader__left {
    float: left;
    width: 50%;
    height: 50px;
    padding: 36px 3.846153846%; /* 48(padding needed to lineup with project-container) / 1248(width of header) */
}

.mainheader__right {
    float: right;
    width: 50%;
    height: 50px;
    text-align: right;
    padding: 54px 3.846153846%;
}

.case .mainheader__right {
    float: right;
    height: 50px;
    padding: 54px 3.846153846%;
}

.mainheader a, .mainheader h1, .mainheader h2 {
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    color: #000;
    letter-spacing: .0275em;
    font-weight: 400;
}

.mainheader h2 {
    margin: -5px 0 0;
    opacity: .5;
}

.mainheader h1 span {
    font-weight: 700;
}

.mainheader__right a {
    margin-left: 20px;
    font-weight: 600;
}

/* ---------------------------------------
   Front Page.
   --------------------------------------- */

.content-container {
    left: 2.5%;
    right: 2.5%;
    top: 130px;
    bottom: 36px;
    background: #151416;
    position: fixed;
    min-height: 81.47368421%;
    z-index: 10;
}

.content-container:before {
    content: ' ';
    position: absolute;
    top: 13.1%;
    right: 5.8%;
    width: 22%;
    height: 73.34%;
    background-color: #020203;
}

.project-container__pagination {
    position: absolute;
    bottom: 6.1%;
    top: 6.1%;
    left: 3.5%;
    z-index: 20;
}

.progress-container {
    position: absolute;
    top: 35px;
    width: 1px;
    height: 89.7%;
}

#progress-line {
    background: #fff;
    height: 25%;
}

.project-container__previous {
    display: block;
    margin-left: -8px;
    cursor: default;
}

.project-container__next {
    bottom: 0;
    position: absolute;
    display: block;
    margin-left: -8px;
    cursor: default;
}

.project-container__controls {
    position: absolute;
    bottom: 6.1%;
    right: 3%;
    z-index: 20;
}

.project-container__controls a {
    font-size: 1.125em;
    margin-left: 20px;
}

.project-container__scroll-indicator {
    position: absolute;
    bottom: 6.1%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    text-align: center;
}

.project-container__scroll-indicator:before {
    content: " ";
    position: absolute;
    height: 35px;
    width: 1px;
    bottom: -48px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
}

.project {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.project--active {
    opacity: 1;
    overflow: hidden;
    z-index: 15;
    transition: opacity 1.5s ease;
}

.project--active .project__info {
    position: absolute;
    top: 33%;
    left: 8.5%;
}

.project__title {
    font: 5em 'Abril Fatface', Georgia, serif;
    margin: 0 0 5%;
}

.project--active .project__view {
    display: block;
    width: 275px;
    background: #020203;
    padding: 35px 20px;
    font-size: 1.125em;
}

.project__view:after {
    position: absolute;
    content: '\203A';
    font-size: 1.825em;
    margin-left: 70px;
    bottom: 12%;
}

.project__year {
    position: absolute;
    top: 6.1%;
    right: 3%;
    font-size: 1.125em;
}

.project__screenshot {
    background: url("../img/sitebar.png") no-repeat top;
    padding-top: 36px;
    position: absolute;
    top: 20%;
    right: 12%;
}

.project__screenshot img {
    width: 100%;
    height: auto;
}

/* ---------------------------------------
   About.
   --------------------------------------- */

.about__info {
    position: absolute;
    top: 17%;
    left: 8.5%;
    width: 40%;
    z-index: 20;
}

.about__info:before {
    content: 'hello';
    font-size: 27em;
    font-weight: 800;
    color: #1a1b1d;
    position: absolute;
    left: -34%;
    top: -10%;
    z-index: -1;
}

.about__title {
    font: 4em 'Abril Fatface', Georgia, serif;
    margin: 0 0 4%;
}

.about__text {
    font-size: 1.063em;
    line-height: 1.5;
    margin-bottom: 4%;
}

.about__photo {
    position: absolute;
    top: 22%;
    right: 12%;
}

.about__experiences, .about__social {
    margin-bottom: 15px;
}

.about__social {
    margin-left: 93px;
}

.about__experiences span {
    padding-left: 93px;
}

.about__experiences span, .about__social span {
    font-weight: 600;
    display: block;
    margin-bottom: 12px;
}

.about__experiences span:before, .about__social span:before {
    content: " ";
    position: absolute;
    height: 1px;
    width: 80px;
    margin-top: 11px;
    left: 0;
    background-color: #fff;
}

.about__year, .about__position, .about__sociallink {
    display: table-cell;
}

.about__year {
    width: 93px;
}

.about__sociallink {
    width: 125px;
}

.about__info br {
    content: ' ';
    display: block;
    margin-bottom: .75em;
}

/* ---------------------------------------
   Contact.
   --------------------------------------- */

.page--contact .content-container {
    overflow-y: auto;
}

.contactform {
    height: auto;
    margin: 6.25% 0 0 8.5%;
    width: 60%;
    position: relative;
    padding: 10px 40px 40px 40px;
}

.contactform:after {
    clear: both;
    content: "";
    display: table;
}

.contactform ::-webkit-input-placeholder {
    color: #fff;
}

.contactform ::-moz-placeholder {
    color: #fff;
}

.contactform :-moz-placeholder {
    color: #fff;
}

.contactform :-ms-input-placeholder {
    color: #fff;
}

textarea:focus, input[type="text"]:focus, input[type="email"]:focus, button:focus, button, textarea {
    border: none;
    outline: none;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    text-align: left
}

.input-container {
    padding: 25px 0 0;
    border-bottom: 2px solid #fff;
    position: relative;
}

.input-container.submit {
    border-bottom: none;
    padding-top: 45px;
}

input, textarea {
    font-size: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
}

input {
    height: 56px;
}

textarea {
    color: #fff;
    padding-top: 17px;
    padding-left: 0;
    width: 100%;
    height: 120px;
    display: inline-block;
    resize: vertical;
    background: transparent;
}

input[type="text"], input[type="email"] {
    margin: 0;
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 12px 20px 13px 0;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button {
    background: #fff;
    color: #000;
    font-size: 20px;
    padding: 18px;
    text-align: left;
    width: 200px;
    transition: width .3s;
}

button:hover {
    width: 235px;
}

.submit span {
    font-size: 1.825em;
    margin-left: -30px;
    color: #000;
}

/* ---------------------------------------
   Case Studies.
   --------------------------------------- */
/* ---------------------------------------
   Writing.
   --------------------------------------- */
/* ---------------------------------------
   Footer.
   --------------------------------------- */

/* ---------------------------------------
   Mobile.
   --------------------------------------- */
@media screen and (max-width: 960px) {
}

@media screen and (max-width: 675px) {

}